table {
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-spacing: 0;
    background-color: #fff;
    width: 100%;
}

table td {
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    padding: 5px;
}

.xl65 {
    color: rgb(34, 34, 34);
}

.table-icon {
    width: 16px;
    /* 设置图标宽度 */
    height: 16px;
    /* 设置图标高度 */
    display: inline-block;
    /* 使 div 作为块级元素 */
    background-size: contain;
    /* 保持图片比例 */
    background-repeat: no-repeat;
    /* 不重复背景 */
    vertical-align: middle;
    /* 垂直对齐 */
}