.link-preview {
    width: 96%;
    height: 140px;
    padding: 15px;
    background-color: #C0C0C0;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    border: rgb(177, 176, 176) 1px solid;
    border-bottom: white 2px solid;
    border-right: white 2px solid;
    margin: 15px auto; /* 设置左右 margin 为 auto，垂直 margin 设定为 15px */
    display: flex;
    flex-direction: column;
}

.link-preview h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.link-preview h3 a {
    color: blue;
    text-decoration: none;
}

.link-preview h3 a:hover {
    text-decoration: underline;
}

.link-preview .content {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
}

.link-preview .content p {
    margin: 0;
    color: #333;
    line-height: 1.3em;
    max-height: 6.5em; /* 5行文本的高度 */
    overflow: hidden;
}

.link-preview .content::after {
    content: '...';
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 40px;
    background: linear-gradient(to right, transparent, #C0C0C0 50%); /* 修复了缺少的右括号 */
}

@media (max-width: 350px) {
    .link-preview {
        width: 93%;  /* 设置宽度为100%以适应小屏幕 */
        max-width: 350px; /* 最大宽度设置为350px */
        box-sizing: border-box; /* 包含内边距和边框在内的宽度计算 */
    }
    
    .link-preview h3 {
        font-size: 16px; /* 可以适当调整字体大小以适应小屏幕 */
    }

    .link-preview .content p {
        max-height: 4.5em; /* 可以适当调整以适应小屏幕 */
    }
}

