/* Password page styles */

#password-input {
    text-align: center;
    padding: 10px;
    font-size: 9x;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px; /* 固定宽度，或使用 max-width */
    margin: 10px auto; /* 水平居中，并添加一些垂直间距 */
    margin-top: 25px;
    display: block;
}

#password-submit {
    display: block;
    margin: 10px auto; /* 水平居中 */
}

/* 密码错误弹窗样式，参考 dailyPopup */
#password-error-popup {
    height: auto;
    display: inline-block;
    padding: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
    width: 300px; /* same as welcome-popup */
    max-height: 80vh; /* match daily-popup */
    overflow-y: auto;
    user-select: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#password-error-popup p {
    line-height: 1;
    font-size: 12px;
    text-align: left;
    margin-bottom: -1%;
}

#password-error-close {
    display: block;
    margin: 10px auto 3px;
}
