<!DOCTYPE html>
<html lang="zh-CN">
 <%- include('../templates/header.ejs') %>
 <body>
    <div class="logo"></div>
    <main id="main" class="main">
        <div class="window-body">
            <menu role="tablist"></menu>
            <div class="window" role="tabpanel">
                <div class="window-body">         
                    <input type="password" placeholder="Enter password" id="password-input" />
                    <button id="password-submit">Submit</button>
                </div>
            </div>
        </div>
    </main>
</body>
<%- include('../templates/function.ejs') %>
</html>